.input-dropdown-container {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;
}

.input-dropdown-container div:last-child {
    flex-grow: 1;
}

.input-dropdown-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-dropdown {
    margin-left: 0.5rem;
    border: 0;
    width: 95%;
    height: 100%;
    font-style: italic;
    font-size: 16px;
    color: #e8e8e8;
}

.input-dropdown::placeholder {
    color: #e8e8e8;
}

.input-dropdown:focus {
    outline: none;
}
